body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    background-color: rgba(28, 59, 137, 0.569);
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-input {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2vh;
    margin-top: 4vh;
}

#task-title {
    width: 70%;
    padding: 12px 15px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    background-color: #f9f9f9;
}

#add-task-button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: rgb(22, 43, 101);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-button:hover {
    background-color: rgba(22, 43, 101, 0.555);
}

h2 {
    color: rgb(255, 255, 255);
}

.task-columns {
    width: 100%;
    color: white;
    font-weight: bold;
    text-shadow: #999;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    min-height: 50vh;
}

.task-column {
    flex: 1;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

#not-started {
    background-color: rgb(25, 52, 125);
}

#in-progress {
    background-color: rgb(25, 52, 125);
}

#finished {
    background-color: rgb(25, 52, 125);
}

.task-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    
}

#task-title:focus {
    border-color: #212b7f;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}

#task-title::placeholder {
    color: #999;
    font-style: italic;
}

.task-item {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(3, 10, 46);
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#not-started .task-item {
    background-color: rgba(130, 126, 126, 0.8);
}

#in-progress .task-item {
    background-color: rgba(43, 134, 33, 0.8);
}

#finished .task-item {
    background-color: rgba(185, 0, 0, 0.8);
}

.task-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.task-item .delete-btn {
    position: absolute;
    bottom: 5px;
    top:5px;
    right: 5px;
    padding: 5px 8px;
    font-size: 0.7rem; 
    background-color: rgba(93, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: none; 
}

.task-item:hover .delete-btn {
    display: inline-block; 
}

.task-item .delete-btn:hover {
    background-color: rgba(93, 0, 0, 0.5);
}

.dragging {
    background-color: rgba(128, 128, 128, 0.1);
}

.task-list::-webkit-scrollbar {
    width: 8px; 
}

.task-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; 
}


.task-list::-webkit-scrollbar-thumb {
    background: rgb(96, 122, 195);
    border-radius: 10px; 
}

.task-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

